// Main navigation
.main-nav {
    transition: .2s;

    ul {
        display: flex;

        li {
            
            a {
                display: inline-block;
                padding: 30px 50px;
                
                &:last-child {
                    padding-right: 0;
                }

                &:hover {
                    color: $white;
                }
            }
        }
    }

    @include media-down(s) {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100vh;
        background: $primary;

        ul {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            color: white;

            li {

                a {
                    padding: 30px 0;
                }
            }
        }

        &-active {
            left: 0;
        }
    }
}