.section-1 {
    width: 100%;
    height: 100vh;
    background: url('/src/assets/images/background.jpg') no-repeat;
    background-size: cover;
    background-position: bottom;
    
    @include media-up(l) {
        background-position: center;
    }
    
    .section-content {
        position: relative;
        height: 100%;
        width: 100%;    
        
        .cta {
            position: absolute;
            right: 50%;
            top: 50%;
            transform: translate(50%, -50%);
            text-align: center;

            h1 {
                font-size: 60px;
            }

            a {
                margin-top: 23px;
            }

            @include media-up(m) {
                padding: 200px;
                right: 0;
                top: 0;
                transform: none;

                h1 {
                    font-size: 120px;
                }
            }
        }
    }
}